<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
	<br/>
	<ul class="nav menu">

		<li><a href="/home/index"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Area de Trabalho</a></li>

		<li><a href="/chamados"><svg class="glyph offset chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Chamados</a></li>

		<li><a href="/incidentes"><svg class="glyph offset chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Incidentes</a></li>

		<% if current_user.nao_admin_nao_tecnico %>

			<li><a href="/usuarios"><svg class="glyph offset chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Usuários</a></li>

			<li><a href="/departamentos"><svg class="glyph offset chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Departamentos</a></li>

			<li><a href="/items"><svg class="glyph offset chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Itens</a></li>

			<li><a href="/problemas"><svg class="glyph offset chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Problemas</a></li>
			
		<% end %>	
		
	</ul>

</div><!--/.sidebar-->